@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Smooch&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 0.875rem;
  /* font-family: 'poppins', sans-serif; */
  /* font-family: "Andada Pro", serif; */
  background-color: #2a3a491a;
}

.container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.items {
  /* background-color: red; */
  background-color: #2a3a49;
  /* width: auto; */
  padding: 2%;
}
.text-container {
  padding: 1%;
  /* height: 30vh; */
}
.text-container p {
  color: white;
  font-weight: 500;
  font-size: 1.7rem;
  padding: 1%;
  font-family: "Poppins", sans-serif;
}
.text-container h2 {
  font-size: 1.5rem;
  color: #b1c0ce;
  font-family: "Poppins", sans-serif;
}
.btn-container button {
  font-size: 1rem;
  padding: 0.8%;
  text-transform: capitalize;
  font-weight: bolder;
  letter-spacing: 0.06rem;
  border-radius: 0.3rem;
  color: #2a3a49;
  background-color: white;
  transition: all 0.3s ease;
}
.btn-container button:hover {
  background-color: #647eb6;
  color: white;
}
